<!DOCTYPE html>
<html lang="ja">

<%- include('_head.ejs') -%>

<body>
  <section class="section">
    <div class="container">
      <div class="notification is-danger">
        このページは存在しません。
      </div>

      <%- include('_description.ejs') -%>
    </div>
  </section>
</body>

</html>